In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("../data/zhvi_data.db")
cursor = conn.cursor()

# See if the table exists
cursor.execute("""
SELECT name 
FROM sqlite_master 
WHERE type='table';
""")
               
print("Tables:", cursor.fetchall())

# Quick row count
cursor.execute("SELECT COUNT(*) FROM zhvi_data;")
print("Row count:", cursor.fetchone()[0])

conn.close()

Tables: [('zhvi_data',)]
Row count: 301340

In [2]:
# Connect to your existing DB
conn = sqlite3.connect("../data/zhvi_data.db")

# Run SQL query and load into a DataFrame
query = """
SELECT * 
FROM zhvi_data 
LIMIT 10;
"""
df_preview = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

# Display the first 10 rows
df_preview

,RegionID,BedroomCount,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,Date,HomeValue
0,74242,1,176,37211,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,2000-01-31 00:00:00,50140.02725
1,74145,1,424,37064,zip,TN,TN,Franklin,"Nashville-Davidson--Murfreesboro--Franklin, TN",Williamson County,2000-01-31 00:00:00,NaN
2,74555,1,1295,37918,zip,TN,TN,Knoxville,"Knoxville, TN",Knox County,2000-01-31 00:00:00,NaN
3,74664,1,1356,38128,zip,TN,TN,Memphis,"Memphis, TN-MS-AR",Shelby County,2000-01-31 00:00:00,NaN
4,74557,1,1720,37920,zip,TN,TN,Knoxville,"Knoxville, TN",Knox County,2000-01-31 00:00:00,49062.79466
5,74178,1,1740,37115,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,2000-01-31 00:00:00,NaN
6,74252,1,1741,37221,zip,TN,TN,Nashville,"Nashville-Davidson--Murfreesboro--Franklin, TN",Davidson County,2000-01-31 00:00:00,61693.56438
7,74850,1,1920,38501,zip,TN,TN,Cookeville,"Cookeville, TN",Putnam County,2000-01-31 00:00:00,NaN
8,74649,1,1954,38111,zip,TN,TN,Memphis,"Memphis, TN-MS-AR",Shelby County,2000-01-31 00:00:00,50034.37788
9,74653,1,2223,38115,zip,TN,TN,Memphis,"Memphis, TN-MS-AR",Shelby County,2000-01-31 00:00:00,NaN

In [3]:
# Connect to your existing DB
conn = sqlite3.connect("../data/zhvi_data.db")

# Run SQL query and load into a DataFrame
query = """
SELECT 
    RegionName AS "Zip Code", 
    strftime('%Y-%m', Date) AS YearMonth, 
    printf('%.2f', HomeValue) AS HomeValue
FROM zhvi_data
WHERE strftime('%Y', Date) > '2015'
  AND State = 'TN'
  AND City = 'Nashville'
LIMIT 100;
"""

df_preview = pd.read_sql_query(query, conn)

# Close the connection
conn.close()

# Display the first 10 rows
print(df_preview.head(10))

  Zip Code YearMonth  HomeValue
0    37211   2016-01   64083.51
1    37115   2016-01   56883.89
2    37221   2016-01  100419.46
3    37209   2016-01   96129.65
4    37214   2016-01   79348.45
5    37205   2016-01  168040.14
6    37206   2016-01  256763.64
7    37215   2016-01  148058.73
8    37203   2016-01  320493.61
9    37216   2016-01       0.00

In [4]:
# Connect to the SQLite database
conn = sqlite3.connect("../data/zhvi_data.db")

# Define the SQL query (fixed with proper quotes)
query = """
SELECT 
  strftime('%Y-%m', Date) AS YearMonth,
  BedroomCount,
  RegionName AS "Zip Code",
  printf('%.2f', AVG(HomeValue)) AS AvgHomeValue
FROM zhvi_data
WHERE State = 'TN'
  AND City = 'Nashville'
  AND strftime('%Y', Date) >= '2024'
  AND BedroomCount = 3
GROUP BY YearMonth, BedroomCount, RegionName
ORDER BY "Zip Code", BedroomCount, YearMonth;
"""

# Load the result into a pandas DataFrame
df_summary = pd.read_sql_query(query, conn)

# Close connection
conn.close()

# Preview the results
print(df_summary.head(15))

   YearMonth BedroomCount Zip Code AvgHomeValue
0    2024-01            3    37013    364328.01
1    2024-02            3    37013    364971.09
2    2024-03            3    37013    366111.06
3    2024-04            3    37013    367242.47
4    2024-05            3    37013    368305.44
5    2024-06            3    37013    368809.52
6    2024-07            3    37013    369280.87
7    2024-08            3    37013    369234.52
8    2024-09            3    37013    369215.32
9    2024-10            3    37013    368905.42
10   2024-11            3    37013    368723.59
11   2024-12            3    37013    368638.68
12   2025-01            3    37013    368780.41
13   2025-02            3    37013    368323.94
14   2025-03            3    37013    367477.53